<div class="row">
    <div class="col s10 m6 offset-m3">
        <div class="card brown lighten-5">
            <div class="card-content">
                <h3 class="center-align">Asignar Aula</h3>
                <%= form_for([@event, @paper, @classroom]) do |form| %>
                    <div class="center-align">
                        <%= @event.name %>
                    </div>
                    <div class="input-field">
                        <%= form.label :ambient, 'Ambiente *' %>
                        <%= form.text_field :ambient, class: 'validate' %>
                    </div>
                    <div class="input-field">
                        <%= form.label :defense_date, 'Fecha de la defensa *' %>
                        <%= form.text_field :defense_date, class: 'datepicker' %>
                    </div>
                    <div class="input-field">
                        <%= form.label :defense_hour, 'Hora de la defensa *' %>
                        <%= form.text_field :defense_hour, class: 'timepicker' %>
                    </div>
                    <div>
                        <p class="required-alert">Los campos marcados con * son obligatorios.</p><br>
                    </div>

                    <div class="center-align">
                        <%= button_tag(class: 'btn-small waves-effect waves-light') do %>
                            Asignar aula
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>