<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card brown lighten-5">
            <div class="card-content">
                <h4 class="align center">Crear usuario</h4>
                <%= form_for User.new, url: create_user_path do |f| %>
                    <div class="input-field">
                        <%= f.label :name, 'Nombre(s) *' %>
                        <%= f.text_field :name, class: 'validate' %>
                    </div>

                    <div class="input-field">
                        <%= f.label :lastname, 'Apellidos *' %>
                        <%= f.text_field :lastname, class: 'validate' %>
                    </div>

                    <div class="input-field">
                        <%= f.label :username, 'Nombre de usuario *' %>
                        <%= f.text_field :username, class: 'validate' %>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <%= f.label :career, 'Carrera *', class: 'active' %>
                            <%= f.select :career, ['Ingeniería de Sistemas', 'Ingeniería Ambiental', 'Ingeniería Civil', 'Ingeniería Mecatrónica'], include_blank: 'Elige la carrera' %>
                        </div>

                        <div class="input-field col s6">
                            <%= f.label :phone, 'Celular' %>
                            <%= f.number_field :phone, class: 'validate' %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6" id="role_degree">
                            <%= f.label :role, 'Rol *', class: 'active' %>
                            <%= f.select :role, ['estudiante','docente','director'], include_blank: true %>
                        </div>
                        <div class="input-field col s6" id="show_degree" style="display:none">
                            <%= f.label :professional_degree, 'Grado profesional *', class: 'active' %>
                            <%= f.select :professional_degree, ['Ing.','Mgr.','Dr.'] %>
                        </div>
                    </div>

                    <div class="input-field">
                        <%= f.label :email, 'Correo electrónico *' %>
                        <%= f.text_field :email, class: 'validate' %>
                    </div>

                    <div class="input-field">
                        <%= f.label :password, 'Contraseña *' %>
                        <%= f.text_field :password, class: 'validate' %>
                    </div>
                    <div>
                        <p class="required-alert">Los campos marcados con * son obligatorios.</p><br>
                    </div>
                    
                    <div class="align center">
                        <%= button_tag(class: 'btn-small waves-effect waves-light') do %>
                            Crear usuario
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>