<div class="question_fields">
    <div class="card-panel brown lighten-5 z-depth-1">
        <div class="row">
            <% question = f.object %>
            <div class="input-field col s2 question_type">
                <%= f.label :type, "Tipo de revisión", class: "active" %>
                <%= f.hidden_field :type%>
                <%= content_tag :p, question.display_type, class:'question_type' %>
                <%= f.hidden_field :_destroy %>
                <%= link_to_remove_association content_tag(:p, 'Quitar Sección', class:'red-text'), f, { wrapper_class: 'question_fields' } %>
            </div>
            <div class="input-field col s8">
                <%= f.label :title, "Sección *", class: 'active' %>
                <%= f.text_field :title, placeholder: 'Ingrese la sección a revisar del documento. Ejemplo: Antecedentes', type: "text", class: "validate" %>
            </div>
            <% if question.display_type=='Escala' %>
                <div class="input-field col s2">
                    <%= f.label :max_score, 'Puntaje máximo *' %>
                    <%= f.number_field :max_score, class: :text_field, step: :any %>
                </div>
            <% end %>
        </div>
        <%= render fields_of_question(question.type), f: f %>
    </div>
</div>
